<html>
<head>
    <meta charset="utf-8">
    <title>Bowtie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="img/favicon.ico" />

    <!-- JQUERY -->
    <script src="js/jquery-1.9.1.js"></script>

    <!-- Le styles -->
    <style>
      body {
        /* padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bowtie.css" rel="stylesheet">
    <link href="css/envision.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
</head>
<body onunload="on_exit()">
  <div class="navbar">
    <div class="container">
      <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>

      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="navbar-brand" href="/">Bowtie</a>

      <!-- Place everything within .nav-collapse to hide it until above 768px -->
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><a href="./view_data.html">Visualization</a></li>
          <li><a href="./about.html">About</a></li>
          <li><a href="https://github.com/Alehins/PyBowtie">GitHub</a></li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->

  <div class="container">

    <div class="col-lg-5 col-lg-offset-3">
      
      <div class="page-header">
        <h1>Bowtie <small>Gather data from a node</small></h1>
      </div>
      <div id="alert_msg" class="alert alert-error" style="display: none;">
        <button type="button" class="close" onClick="warning_closed()" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> Please enter a CPU Id and Node Id before continuing 
      </div>
      <table id="id_table" class="table table-hover" border="0">
        <tr>
          <td><b>Group Id:</b></td>
          <td><input type="text" name="identifier" id="group_id"></td>
        </tr>
        <tr>
          <td><b>Node Id:</b></td>
          <td><input type="text" name="identifier" id="phone_id"></td>
        </tr>
      </table>

      <div align="center">

      <p>
      <button class="btn btn-large btn-success" type="button" id="sub_button" onClick="toggle_readonly()">Start sensing</button>
      </p>
      </div>
      <table id="sensor_table" class="table table-hover" style="display:none">
        <tr id="tb_lr">
          <td><b>Tilt Left/Right:</b></td>
          <td id="doTiltLR"></td>
          <td><input type="checkbox" id="doTiltLRCheckbox" checked="yes"></td>
        </tr>
        <tr id="tb_fb">
          <td><b>Tilt Front/Back:</b></td>
          <td id="doTiltFB"></td>
          <td><input type="checkbox" id="doTiltFBCheckbox" checked="yes"></td>
        </tr>
        <tr id="tb_d">
          <td><b>Direction:</b></td>
          <td id="doDirection"></td>
          <td><input type="checkbox" id="doDirectionCheckbox" checked="yes"></td>
        </tr>
        <tr id="tb_lat">
          <td><b>Latitude:</b></td>
           <td id="latPos"></td>
          <td><input type="checkbox" id="latPosCheckbox" checked="yes"></td>
        </tr>
        <tr id="tb_lon">
          <td><b>Longitude:</b></td>
          <td id="longPos"></td>
          <td><input type="checkbox" id="longPosCheckbox" checked="yes"></td>
        </tr>
        <tr>
          <td>
          </td>
        </tr>
      </table>
    <video id="live_stream" width="320" height="240" style="display: none;" autoplay muted></video>
    <canvas id="vid_img" width="320" height="240" style="display: none;"></canvas>
    <div id="accelerometer-chart" style="display: none;"></div>
    <script src="js/real_time_chart.js"></script>
    <script src="js/envision.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/websocket_client.js"></script>
    <script src="js/capture_media.js"></script>
    <script src="js/sensor_client.js"></script>

      <div class="footer" style="padding-top: 60px;">
        <p>
          Creators: <a href="http://uk.linkedin.com/pub/alexander-wallar/68/985/b87/">Alex Wallar</a>,  
          <a href="http://uk.linkedin.com/pub/aleksejs-sazonovs/23/bab/a56/">Aleksejs Sazonovs</a> and 
          <a href="http://uk.linkedin.com/pub/christopher-choi/40/885/366">Christopher Choi</a>
        </p>
      </div>
    </div>
  </div>

</body>
</html>
