<html>
<head>
    <meta charset="utf-8">
    <title>Bowtie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Le styles -->
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->


  <style type="text/css"></style>
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="https://github.com/Alehins/PyBowtie">Bowtie</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">

    <div class="span5 offset3">
      <h1>Bowtie: Sensor Data Gathering</h1>
      <br>

      <table class="table table-hover">
        <tr>
          <td><b>CPU Id<b></td>
          <td><input type="text" name="identifier" id="cpu_id"></td>
          <td><input type="checkbox" id="cpu_idCheckbox" onchange="toggle_readonly()"></td>
        </tr>
        <tr>
          <td><b>Tilt Left/Right</b></td>
          <td id="doTiltLR"></td>
          <td><input type="checkbox" id="doTiltLRCheckbox" checked="yes"></td>
        </tr>
        <tr>
          <td><b>Tilt Front/Back</b></td>
          <td id="doTiltFB"></td>
          <td><input type="checkbox" id="doTiltFBCheckbox" checked="yes"></td>
        </tr>
        <tr>
          <td><b>Direction</b></td>
          <td id="doDirection"></td>
          <td><input type="checkbox" id="doDirectionCheckbox" checked="yes"></td>
        </tr>
        <tr>
          <td><b>Latitude</b></td>
           <td id="latPos"></td>
          <td><input type="checkbox" id="latPosCheckbox" checked="yes"></td>
        </tr>
        <tr>
          <td><b>Longitude</b></td>
          <td id="longPos"></td>
          <td><input type="checkbox" id="longPosCheckbox" checked="yes"></td>
        </tr>
      </table>
    </div>
    <!--<script src="http://127.0.0.1:5000/static/gather_sensor_data.js"></script>-->
    <script text="text/javascript">
      getLocation();
      getSensorData();

      function toggle_readonly() {
       var text_box = document.getElementById('cpu_id');
        if(text_box.hasAttribute('readonly')){   
            text_box.removeAttribute('readonly');
            if (document.getElementById("cpu_id").value != "") {
              $.ajax({
                type: 'POST',
                url:'/unchecked_' + document.getElementById("cpu_id").value
              });
            }
        }else{       
            text_box.setAttribute('readonly', 'readonly');   
        }
      }

      function getSensorData() {
        if(window.DeviceOrientationEvent) {
          window.addEventListener('deviceorientation', orientationEventHandler, false);
        } else {
            document.getElementById("doTiltLR").innerHTML = "Not supported";
            document.getElementById("doTiltLRCheckbox").checked = false;
            document.getElementById("doTiltLRCheckbox").disabled = true;
            document.getElementById("doTiltFB").innerHTML = "Not supported";
            document.getElementById("doTiltFBCheckbox").checked = false;
            document.getElementById("doTiltFBCheckbox").disabled = true;
            document.getElementById("doDirection").innerHTML = "Not supported";
            document.getElementById("doDirectionCheckbox").checked = false;
            document.getElementById("doDirectionCheckbox").disabled = true;
          }
      }

      function orientationEventHandler(eventData) {
        var tiltLR=eventData.gamma;
        var tiltFB=eventData.beta;
        var dir=eventData.alpha;
        deviceOrientationHandler(tiltLR,tiltFB,dir);
        sendAjax({0: "No Error"})
      }

      function deviceOrientationHandler(tiltLR,tiltFB,dir) {
        document.getElementById("doTiltLR").innerHTML=Math.round(tiltLR);
        document.getElementById("doTiltFB").innerHTML=Math.round(tiltFB);
        document.getElementById("doDirection").innerHTML=Math.round(dir);
      }
      
      function getLocation() {
        if (navigator.geolocation) {
          var timeoutVal = 6000;
          var extraGeoParam = {enableHighAccuracy: true, timeout: timeoutVal, maximumAge: 0};
          navigator.geolocation.watchPosition(devicePositionHandler, positionError, extraGeoParam);
        } else {
          alert("Geolocation is not supported by this browser");
        }
      }

      function positionError (position) { 
        document.getElementById("latPos").innerHTML = "Not supported";
        document.getElementById("latPosCheckbox").checked = false;
        document.getElementById("latPosCheckbox").disabled = true;
        document.getElementById("longPos").innerHTML = "Not supported";
        document.getElementById("longPosCheckbox").checked = false;
        document.getElementById("longPosCheckbox").disabled = true;
        sendAjax({1: "Position Error"});
      }
      function devicePositionHandler(position) {
        document.getElementById("latPos").innerHTML = position.coords.latitude;
        document.getElementById("longPos").innerHTML = position.coords.longitude;
        sendAjax({0: "No Error"});
      }
      function sendAjax(error_data) {
        tiltLR = getIfValid("doTiltLR");
        tiltFB = getIfValid("doTiltFB");
        dir = getIfValid("doDirection");
        lat = getIfValid("latPos");
        lon = getIfValid("longPos");
        if (document.getElementById("cpu_idCheckbox").checked == true) {
          $.ajax({
            type: 'POST',
            url:'/' + document.getElementById("cpu_id").value,
            data: {sensor_data: JSON.stringify({orientation: {tilt_horizontal: tiltLR, 
              tilt_vertical: tiltFB, direction: dir}, location: {latitude: lat, longitude: lon}, error: error_data})}
          });
        }
      }

      function getIfValid(element_id) {
        if (document.getElementById(element_id).innerHTML == "Not supported" ||
            document.getElementById(element_id).innerHTML == "" || 
            !document.getElementById(element_id + "Checkbox").checked) {
          return null;
        } else {
          return parseFloat(document.getElementById(element_id).innerHTML);
        }
      }
  </script>
</body>
</html>
