<!DOCTYPE HTML>
<head>

</head>
<html>
<body>

<video id="live_stream" controls></video>
<canvas id="vid_img" width="320" height="240" style="display: none;"></canvas>

<script src="js/recorder.js"></script>
<script>

    window.URL = window.URL || window.webkitURL;
    navigator.getUserMedia = navigator.getUserMedia
        || navigator.webkitGetUserMedia
        || navigator.mozGetUserMedia
        || navigator.msGetUserMedia;

    // CONSTANTS
    var CONNECTED_WS = "CONNECTED WS";
    var DISCONNECTED_WS = "DISCONNECTED WS";
    var RETRY_WS = "RETRY WS";
    var DISCONNECT_WS = "DISCONNECT WS";

    // Checks to see if browser supports getUserMedia()
    function hasGetUserMedia() {
        // Note: Opera is unprefixed.
        return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
        navigator.mozGetUserMedia || navigator.msGetUserMedia);
    }

    function streamVideo(stream) {
        window.stream = stream;

        if (window.URL) {
            video.src = window.URL.createObjectURL(stream);
        } else {
            video.src = stream;
        }

        video.play();
    }

    function downloadWAV(blob) {
        Recorder.forceDownload(blob, "recording.wav");
    }

    function streamAudio(stream) {
        window.AudioContext = window.AudioContext || window.webkitAudioContext;

        var audio_context = new AudioContext();
        var input_point = audio_context.createGain();

        // Create an AudioNode from the stream.
        var real_audio_input = audio_context.createMediaStreamSource(stream);
        audio_input = real_audio_input;
        audio_input.connect(input_point);

        // Create audio recorder
        audio_recorder = new Recorder(input_point);

        // Record and download
        audio_recorder.clear();
        audio_recorder.record();
        console.log("Recording!");

        setTimeout(
            function() {
                console.log("Stopping!");
                audio_recorder.stop();
                audio_recorder.exportWAV(downloadWAV);
            },
            10000
        );
    }

    function initVideoStream() {
        var video_status = true;

        navigator.getUserMedia(
            {video: true},
            streamVideo,
            function(e) {
                console.log('Error! Failed to initialize video stream:', e);
                video_status = false;
            }
        );

        return video_status;
    }

    function initAudioStream() {
        var audio_status = true;

        navigator.getUserMedia(
            {audio: true},
            streamAudio,
            function(e) {
                console.log('Error! Failed to initialize audio stream:', e);
                audio_status = false;
            }
        );

        return audio_status;
    }

    function openWebSocket(url) {
        var ws = null;

        try {
            ws = new WebSocket(url);

            ws.onopen = function () {
                console.log("Opening websocket connection");
            };

            ws.onmessage = function(message) {
                console.log("Recieved msg from websocket: [", message.data, "]");
                if (message.data === DISCONNECT_WS ) {
                    ws.close();
                }
            }

            ws.onerror = function(error) {
                if (error.reason != undefined) {
                    console.log("Websocket Error!: " + error.reason);
                } else {
                    console.log("Websocket Error Detected!");
                }

                ws.close();
                ws = null;
            };

            ws.onclose = function() {
                ws.close();
                ws = null;
            }

        } catch (error) {
            console.log("WebScoket Error!: " + error);
        }

        return ws;
    }

    function transmitVideoStreamToURL(url, time_interval) {
        var ws = openWebSocket(url);
        var timer = setInterval(
            function () {
                // condition that stops transmitting video stream to server
                if (ws.readyState == 3) { // 3 - websocket is closed
                    console.log("Stop video stream transmission!");
                    clearInterval(timer);
                } else {
                    // draw video stream to canvas, obtain canvas data as jpg
                    // then transmit to server
                    canvas_context.drawImage(video, 0, 0, 320, 240);
                    var data = canvas.toDataURL('image/jpeg', 1.0);
                    console.log("Transmitting: [" + data + "]");
                    ws.send(data);
                }
            },
            250
        );
    }

    // variables
    var video = document.getElementById('live_stream');
    var canvas = document.getElementById('vid_img');
    var canvas_context = canvas.getContext('2d');
    var ws_url = "ws://127.0.0.1:8080/websocket/";
    var time_interval = 250;


    if (hasGetUserMedia()) {
        // if (initVideoStream()) {
            // transmitVideoStreamToURL(ws_url, time_interval);
        // }

        if (initAudioStream()) {
            console.log("Streaming audio!");
        }
    } else {
        alert('Error! getUserMedia() is not supported in your browser!');
    }

</script>

</body>
</html>
