<!DOCTYPE HTML>
<head>

</head>
<html>
<body>

<video id="live_stream" controls></video>
<canvas id="vid_img" width="320" height="240" style="display: none;"></canvas>

<script src="js/websocket_client.js"></script>
<script src="js/audio_recorder/recorder.js"></script>
<script src="js/sensor_capturers/video_capturer.js"></script>
<script>

    // VARIABLES
    var video = document.getElementById('live_stream');
    var canvas = document.getElementById('vid_img');

    var ws_url = "ws://127.0.0.1:8080/websocket/";
    var time_interval = 250;

    var video = new VideoCapturer(video, canvas, ws_url, time_interval);

    // Checks to see if browser supports getUserMedia()
    function hasGetUserMedia() {
        // Note: Opera is unprefixed.
        return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
        navigator.mozGetUserMedia || navigator.msGetUserMedia);
    }

    if (hasGetUserMedia()) {
        video.initVideoStream();
        video.transmitVideoToURL();

        // if (initAudioStream()) {
        //     console.log("Streaming audio!");
        // }
    } else {
        alert('Error! getUserMedia() is not supported in your browser!');
    }
</script>
</body>
</html>
