<html>
<head>
    <meta charset="utf-8">
    <title>Bowtie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />

    <!-- JQUERY -->
    <script src="{{ url_for('static', filename='js/jquery-1.9.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/view_data.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <!-- Le styles -->
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      html, body, #map-canvas {
        height: 80%;
      }
    </style>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
</head>
<body style="background:lightgrey">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">Bowtie</a>
        <a class="brand" href="./about.html">About</a>
        <a class="brand" href="./view_data.html">Data Visualization</a>
        <a class="brand" href="https://github.com/Alehins/PyBowtie">GitHub</a>
        <!--<img src="../static/favicon.ico"/>-->
        <div class="nav-collapse collapse">
          <ul class="nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">

    <div class="span5 offset3">
      
      <h1>Bowtie</h1>
      <p class="lead">Visualize sensor data</p>
      <div id="alert_msg" class="alert alert-error" style="display: none;">
        <button type="button" class="close" onClick="warning_closed()" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> Please enter a CPU Id before continuing 
      </div>
      <table id="id_table" class="table table-hover" border="0">
        <tr>
          <td><b>CPU Id:</b></td>
          <td><input type="text" name="identifier" id="cpu_id"></td>
        </tr>
      </table>

      <div align="center">

      <p>
      <button class="btn btn-large btn-success" type="button" id="sub_button" onClick="toggle_readonly()">Grab data</button>
      </p>
      
      </div>
      <br>
      <table id="sensor_table" class="table table-hover" style="display:none">
      </table>
      <div class="footer">
        <p>
          Creators: <a href="http://uk.linkedin.com/pub/alexander-wallar/68/985/b87/">Alex Wallar</a>,  
          <a href="http://uk.linkedin.com/pub/aleksejs-sazonovs/23/bab/a56/">Aleksejs Sazonovs</a> and 
          <a href="http://uk.linkedin.com/pub/christopher-choi/40/885/366">Christopher Choi</a>
        </p>
      </div>
    </div>
  </div>
</body>
</html>
